



#h{
    
    margin-top:3%;
    font-size:75px;
    
    animation-name:h;
    animation-duration: 4s
}

@media(min-width:420px){
    #h{
        font-size:90px
    }
}

@keyframes h {
    
    from{
        opacity:0%;
        margin-left:50%;
        color:rgb(0, 102, 255);
    }
    to{ 
        opacity:100%;
        margin-left:0%;
        color:rgb(8, 8, 8);
    }
}

#h1{
    font-size:75px;
    color:white;
    animation-name:h1;
    animation-delay:2s;
    animation-duration:4s;
    animation-fill-mode: forwards;
}
@media(min-width:420px){
    #h1{
        font-size:90px
    }
}

@keyframes h1{
   
    from{
        
        opacity:0%;
        margin-left:50%;
        
        color:chartreuse;
    }
    to{ 
        opacity:100%;
        margin-left:0%;
        display:block;
        color:rgb(255, 166, 0)
    }
}

#h2{
    font-size:75px;
    color:white;
    animation-name:h2;
    animation-delay:4s;
    animation-duration:4s;
    animation-fill-mode: forwards;
}
@media(min-width:420px){
    #h2{
        font-size:90px
    }
}
@keyframes h2{
   
    from{
        
        opacity:0%;
        margin-left:50%;
        
        color:rgb(255, 51, 0);
    }
    to{ 
        opacity:100%;
        margin-left:0%;
        display:block;
        color:rgb(47, 177, 86)
    }
}

#btn{
    width: 200px;
    height: 50px;
    color:white;
    background-color: white;
    border-color:white;
    
    animation-name:h3;
    animation-delay:6s;
    animation-duration:4s;
    animation-fill-mode: forwards;

}

#a{
    
    color:white;
    text-decoration:none;
   
    
    

}

@keyframes h3{
   
    from{
       
        opacity:0%;
        margin-left:50%;
        color:rgb(5, 176, 255);
        background-color: rgb(5, 176, 255);
        border-color:rgb(5, 176, 255);
        
        
    }
    to{ 
        
        opacity:100%;
        margin-left:0%;
        color:rgb(236, 236, 236);
        background-color: rgb(5, 30, 255);
        border-color:rgb(5, 30, 255);
        
        
        
    }
}


#b1 {
    color:red;
    animation-name: b1;
    animation-iteration-count:infinite;
    animation-duration:10s;
}

@keyframes b1{
    0%{color:red}
    8%{color:rgb(202, 49, 29);}
    16%{color:rgb(255, 72, 0)}
    32%{color:rgba(255, 123, 0, 0.918)}
    40%{color:rgb(255, 136, 0)}
    48%{color:rgb(255, 208, 0)}
    56%{color:rgb(93, 151, 27)}
    64%{color:rgb(65, 104, 20)}
    72%{color:rgb(16, 139, 143)}
    80%{color:rgb(0, 17, 255)}
    88%{color:rgb(76, 30, 136)}
    96%{color:rgb(114, 22, 122)}
    100%{color:red}
}

/* MOBILE RESPONSIVE WEBSITE CODE*/


@media only screen and (max-width:400px){
    #input1, #input{
        left:auto;
        right:auto;
        

    }
}