{% extends "final/layout.html"%} 
{%load static%} 


{%block title%} {{content.title}} {%endblock%} 
{%block body%}
{% load markdown_extras %}
<div class="container">
    {% if user.is_authenticated%}
    <form action="{% url 'add-remove' content.id %}" method="POST">
        {%csrf_token%} 
        {% if a == False %} 
        <button style="margin-top:3%"class="btn btn-danger" type="submit" value="Remove">Remove lesson</button>
        {%else%}
        <button style="margin-top:3%"class="btn btn-success" type="submit" value="Add">Save lesson</button>
    </form>
    {%endif%}
    {%endif%}
    <h2 style="margin-top:5%;color:blue">{{content.title.capitalize}}</h2>
    <p style="font-size:20px;">{{content.explanation| markdown | safe}}</p>

    <h3 style="color:red">PAY ATTENTION!</h3>
    <p class=""style="font-size:20px;">{{content.payAttention| markdown | safe}}</p>
    
    
    

    
</div>

{%endblock%}