{% extends "final/layout.html" %}
{%load static%}

{%block body%} 
<link href="{% static 'final/styles.css'%}" type="text/css" rel="stylesheet">

  <div class="container">
      
      <h1 class="" id="h">Struggling to <br>learn English?</h1>
      <h1 id="h1">Need some help?</h1>
      <h1 id="h2">Don't want to spend any money?</h1>
      <br>
      <button id="btn"class="btn btn"><a id="a"href="{% url 'allThings' %}">Check out my site!</a></button>
  </div>
  
    

<br>
{%endblock%}