{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{%block title%}English made easy with Lara{% endblock%}</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="{% static 'final/styles.css'%}" type="text/css" rel="stylesheet">
        

      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav id="navBarTop"class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">English made easy with Lara</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutMe' %}">About me!</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Explanation
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for content in contents%} 
                  <li><a class="dropdown-item" href="{% url 'explanation' content.id%}">{{content.title.capitalize}}</a></li>
    
                  {%endfor%}
                  
                  
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Games!
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'odd' %}">Odd one out!</a></li>
                  <li><a class="dropdown-item" href="{% url 'scramble' %}">Word scramble!</a></li>
                  <li><a class="dropdown-item" href="{% url 'topic' %}">What are we talking about?</a></li>
                  
                  
                  
                  
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pronunciation' %}">Pronunciation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'materials' %}">Useful Material</a>
              </li>
              
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              <li class="nav-item ">
                <i><a class="nav-link" href="{% url 'profile' username=request.user%}">Welcome, {{request.user}}!</a></i>
              </li>
              {% if request.user.username == "admin"%} 
              <li class="nav-item ">
                <i><a class="nav-link" href="{% url 'create' %}">Create</a></i>
              </li>
              
              {%endif%}

              
              {%else%} 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              {% endif%}
              
            </ul>
            
          </div>
        </div>
      </nav>
      {%block body%} 
      {%endblock%}
      
    
    </body>


</html>
