{%extends "final/layout.html" %}
{% load static%}
{%block title%} 
About me!
{%endblock%}

{%block body%}

<link href="{% static 'final/styles.css'%}" type="text/css" rel="stylesheet">


<div class="container clearfix">
    <h1 style="margin-top:5%">About me!</h1>
    <div class="row">
      <div class="col-md-6 how-img">
        <img src="https://www.toscanaoggi.it/var/ezdemo_site/storage/images/lettere/ma-gli-insegnanti-non-sono-tutti-uguali/1645115-1-ita-IT/Ma-gli-insegnanti-non-sono-tutti-uguali_articleimage.jpg" class="img-thumbnail" alt="...">
      </div>
      <div class="col-md-6">
        <h2>Hello, my name is Lara!</h2>
        <p >I'm not just an English teacher, I also live in a foreign country where everything happens in another language. I know what it feels like to make yourself understood in a foreign language. It can be a daily battle. There are different elements to consider when improving your English, and this site is made to help you. </p>
      </div>
    </div>
    <h3>If you have any questions feel free to ask!</h3> 
    <form method="POST" action="{% url 'message' %}"class="col-lg">
      {% if msg %} 
      <div class="alert alert-warning">
        {{msg}}
      </div>
      {%endif%}
      {% if check %} 
      <div class="alert alert-success">
        {{check}}
      </div>
      {%endif%}
        {%csrf_token%}
    <div class="mb-3">
        <label for="mail" class="form-label">Email address</label>
        <input type="email" class="form-control" name="mail"id="mail" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Example textarea</label>
        <textarea class="form-control" name="text" id="text" cols="30"rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-secondary">Send message!</button>
    </form>
</div>


<br>
<br>
<br>
<nav class="navbar navbar-dark bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
  </nav>

{%endblock%}
