{% extends "final/layout.html" %} 
{% load static %}
{% block title%} Word scramble | Game{%endblock%} 
{%block body%} 

<script src="{% static 'final/scramble.js' %}"></script>
<link href="{% static 'final/styles.css'%}" type="text/css" rel="stylesheet">



    <div class="text-center"style="margin-top:10%  
    " >
    <div style="display: block" id="check">
        <h1 id="hche"></h1>
    
    </div>
        <h1><strong><bold>UNDER DEVELOPMENT</bold></strong></h1>
        <h1 id="b1">Word scramble!</h1>
        <p class="fst-italic text-center">Unscrumble the verb <strong>(Remember to write the first letter as capital!)</strong></p>

        <div class="position-relative">
            <br>
            <div class="position-absolute top-50 start-50 translate-middle">
                <button id="btn1"style="display:block" onclick="game()" class=" btn btn-primary">Start!</button>
            </div>
        </div>
        
        <hr id="hr" style="display:none">
        <div class="text-center">

            <div style="display:none"id="view"></div>
            <div class="position-relative">
                <br>
                <div class="position-absolute top-50 start-50 translate-middle">
                    <input class=""id="input"style="display:none;"type="text"/>
                </div>
            </div>
        </div> 
    </div>

{%endblock%}


{% block script %}
    <script src="{% static 'mixed.js' %}"></script>
{% endblock %}
