{% extends "final/layout.html" %}
{%load static%}

{%block title %} Useful Materials {%endblock%}

{%block body%} 

<div class="container field-item even">
    <h2 style="color:green">Verbs that are not usually used in the continuous form:</h2>
    <p>The verbs in the list below are normally used in the simple form because they refer to states, rather than actions or processes.</p>
    <div class="row align-items-start">
    <div class="col">
        <h5>Senses / perception</h5>
        <ul>
            <li>to feel</li>
            <li>to hear</li>
            <li>to see</li>
            <li>to smell</li>
            <li>to taste</li>
        </ul>
        <h5>Opinion</h5>
        <ul>
            <li>to assume</li>
            <li>to believe</li>
            <li>to consider</li>
            <li>to doubt</li>
            <li>to feel (= to think)</li>
            <li>to  find (= to consider)</li>
            <li>to suppose</li>
            <li>to think</li>
        </ul>
        <h5>Mental states</h5>
        <ul>
            <li>to forget</li>
            <li>to imagine</li>
            <li>to know</li>
            <li>to mean</li>
            <li>to notice</li>
            <li>to recognise</li>
            <li>to remember</li>
            <li>to understand</li>
        </ul>
    </div>
    <div class="col-8">
        <h5>Emotions / desires</h5>
        <ul>
            <li>to envy</li>
            <li>to fear</li>
            <li>to dislike</li>
            <li>to hate</li>
            <li>to hope</li>
             <li>to like</li>
            <li>to love</li>
            <li>to prefer</li>
            <li>to regret</li>
            <li>to want</li>
            <li>to wish</li>
        
        </ul>
        <h5>Measurement</h5>
        <ul>
            <li>to contain</li>
            <li>to cost</li>
            <li>to hold</li>
            <li>to measure</li>
             <li>to weigh</li>
        
        
        </ul>
        <h5>Others</h5>
        <ul>
            <li>to look (=resemble)</li>
            <li>to seem</li>
            <li>to hold</li>
            <li>to be (in most cases)</li>
            <li>to have (when it means "to possess")</li>
        
        
        </ul>
    </div>
    </div>
    <br>
    <br>
    <div class="container">
    <h2>Irregular simple past verbs list:</h2>
    
    <img class="img-fluid"src="{% static 'final/img/irregular-verbs-list.png' %}">
</div>
</div>
{%endblock%}
